{% extends 'core/base.html' %}

{% block title %}Shipment Notifications{% endblock title %}

{% block content %}
<div class="global-container">
    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div
                    class="card bg-white text-secondary align-items-center text-center"
                    >
                    <div class="card-body">
                        <h5 class="card-title .bg-primary"></h5>
                        <p class="card-text">
                        {% if errors %}
                        <h3>{{ errors }}</h3>
                        {% endif %}
                        {% if message %}
                        <h3>{{ message }}</h3>
                        {% endif %}
                        <form enctype="multipart/form-data" method="post" action="{% url 'vendor:notify' %}">
                            {% csrf_token %}
                            Subject <input type="text" name="subject"><br><br> 
                            Email <input type="email" value="{{order.email}}" name="email"><br><br> 
                            Message <input type="text" name="message"><br><br> 
                            <input class="btn btn-dark"type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}